.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 400px;
  align-items: center;
  max-width: 1380px !important;
  padding: 50px;
  position: relative;
}
